---
layout: default
---

<header>
  <h2>{{ page.title }}</h2>
</header>
{% assign features = site[page.tab] | where: "language", page.language | sort: "order" %}
{% for feature in features %}
  <section class="box feature">
    <a class="anchor" id="{{ feature.anchor_id }}"></a>
    <a href="{{ feature.image_url }}" class="image featured"><img src="{{ feature.image }}" alt=""/></a>
    <div class="inner">
      <h3>{{ feature.title }}</h3>
      {{ feature.content }}
      {% if feature.actions %}
      <ul class="actions">
        {% for action in feature.actions %}
          <li><a class="icon {{ action.icon }}" href="{{ action.url }}" target="_blank"><span class="label">{{ action.title }}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </section>
{% endfor %}
