---
layout: default
---

<header>
  <h2>{{ page.title }}</h2>
</header>
{% assign features = site[page.tab] | where: "language", page.language | sort: "order" %}
{% for feature in features %}
  <section class="box feature">
    <a class="anchor" id="{{ feature.anchor_id }}"></a>
    <a href="{{ feature.image_url }}" class="image featured"><img src="{{ feature.image }}" alt=""/></a>
    <div class="inner">
      <h3>{{ feature.title }}</h3>
      {{ feature.content }}
    </div>
  </section>
{% endfor %}
